@import "tailwindcss";

#root {
    font-family: 'Roboto', serif;
    --light-pattern: radial-gradient( circle at 1px 1px, #8E8E8E 1px, transparent 0 );
    --dark-pattern: radial-gradient( circle at 1px 1px, black 1px, transparent 0 );
    --white-pattern: radial-gradient( circle at 1px 1px, #fff 1px, transparent 0 );
    --primary-dark-grey: #565656;
    --primary-color: black;
    --alt-text-color: white;

    --error-color: #DC1919;

    --title-1-size: 2.5rem;
    --title-1-line: 2.8125rem;

    --title-2-size: 1.875rem;
    --title-2-line: 2.1875rem;

    --title-3-size: 1.375rem;
    --title-3-line: 1.75rem;

    --medium-text-size: 1.125rem;
    --medium-text-line: 1.5rem;

    --small-text-size: 1rem;
    --small-text-line: 1.375rem;
}

#quiz-image-container::before {
    content: "";
    top: 0.2em;
    left: 0.8em;
    right: 0;
    bottom: 0;
    position: absolute;
    background-image: var(--dark-pattern);
    background-size: 2em 2em;
}

#footer-block {
    color: var(--alt-text-color);
}

.btn {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--primary-color);
    color: var(--alt-text-color);
    border: 0.1em solid var(--primary-color);
    padding: 0.7em;
}
.btn:hover {
    background-color: var(--alt-text-color);
    color: var(--primary-color);
    cursor: pointer;
}

.headline-large {
    color: var(--primary-color);
    font-size: var(--title-1-size);
    line-height: var(--title-1-line);
    font-family: 'Roboto', serif;
    font-weight: 700;
}
.headline-medium {
    font-size: var(--title-2-size);
    line-height: var(--title-2-line);
    color: var(--primary-color);
    font-weight: 700;
}
.headline-small {
    font-size: var(--title-3-size);
    line-height: var(--title-3-line);
    color: var(--primary-color);
    font-weight: 700;
}

.label-large {
    font-size: 14px;
    line-height: 20px;
    color: var(--primary-dark-grey);
}

.body-medium {
    font-size: var(--medium-text-size);
    line-height: var(--medium-text-line);
    color: var(--primary-dark-grey);
}
.body-medium-bold {
    font-size: var(--medium-text-size);
    line-height: var(--medium-text-line);
    color: var(--primary-color);
    font-weight: bold;
}
.body-small {
    font-size: var(--small-text-size);
    line-height: var(--small-text-line);
    color: var(--primary-dark-grey);
}
.body-small-bold {
    font-size: var(--small-text-size);
    line-height: var(--small-text-line);
    font-weight: bold;
    color: var(--primary-color);
}